/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// Layer 0: QWERTZ Base Layer (Writing Optimized)
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Z  |  U  |  I  |  O  |  P  | BSPC |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  :  |      |
// | SHFT |  Y  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  -  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE | RALT|
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P     &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp LS(DOT) &none
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LGUI &mo 1 &kp SPACE   &kp RET &mo 2 &kp RALT
                        >;
                };

                lower_layer {
// -----------------------------------------------------------------------------------------
// Layer 1: Programming Symbols + Umlauts
// |  `   |  '  |  @  |  #  |  &  |  %  |   |  !  |  ü  |  "  |  ö  |  ?  | DEL  |
// | TAB  |  ä  |     |  ü  |  [  |  ]  |   |  (  |  )  |  ~  |  =  |  $  |      |
// | SHFT |  ^  |  |  |  \  |  {  |  }  |   |  <  |  >  |  /  |  ;  |  _  |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &kp LS(EQUAL) &kp MINUS &kp RA(G) &kp RA(N3) &kp LS(N6) &kp LS(N5)   &kp LS(RBKT) &kp LBKT &kp LS(N2) &kp SEMI &kp LS(MINUS) &kp DEL
   &kp TAB       &kp SQT   &none     &kp LBKT   &kp RA(N5) &kp RA(N6)   &kp LS(N8) &kp LS(N9) &kp RA(N) &kp LS(N0) &kp BSLH &none
   &kp LSHFT     &kp EQUAL &kp RA(N7) &kp RA(LS(N7)) &kp RA(N8) &kp RA(N9)   &kp GRAVE &kp LS(GRAVE) &kp LS(N7) &kp LS(COMMA) &kp LS(FSLH) &none
                                    &trans      &trans       &trans         &trans     &trans     &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// Layer 2: Function Keys + Numpad
// |  F1  |  F2 |  F3 |  F4 |  F5 |  F6 |   |  /  |  7  |  8  |  9  |  -  |      |
// |  F7  |  F8 |  F9 | F10 | F11 | F12 |   |  *  |  4  |  5  |  6  |  +  |      |
// |BTNXT |     |arrU |arrD |arrL |arrR |   |  0  |  1  |  2  |  3  |  .  |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &kp F1     &kp F2   &kp F3   &kp F4   &kp F5    &kp F6     &kp LS(N7)  &kp N7 &kp N8 &kp N9 &kp FSLH &none
   &kp F7     &kp F8   &kp F9   &kp F10  &kp F11   &kp F12    &kp LS(N3) &kp N4 &kp N5 &kp N6 &kp LS(N1)  &none
   &bt BT_NXT &none    &kp UP   &kp DOWN &kp LEFT  &kp RIGHT  &kp N0    &kp N1 &kp N2 &kp N3 &kp DOT   &none
                                &trans   &trans    &trans     &kp KP_ENTER    &trans &trans
                        >;
                };
        };
};
